@font-face {
    font-family: 'roboto';
    src: url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.roboto-400 {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-700 {
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root {
    --red: hsl(4, 100%, 67%);
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%,58%);
    --white: hsl(0, 0%, 100%);
}

html, body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    display: flex;
    flex: 1;

    .page {
        background-color: var(--white);
    }
}

#page-signup {
    display: flex;
    flex-direction: column;
    width: 100%;

    picture img {
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;

        .title {
            font-size: 2.5rem;
            margin: 1rem 0;
        }

        .description {
            margin: 0.5rem 0;
        }

        ul {
            list-style-image: url("./assets/images/icon-list.svg");
            line-height: 1.5;
            padding: 0 2rem;
            
            li {
                padding: 0 0.5rem;
                margin-bottom: 0.5rem;
            }
        }

        #form {
            display: flex;
            flex-direction: column;

            .email {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0.5rem;

                .label {
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                }

                .textbox {
                    grid-column: 1 / 3;
                    grid-row: 2 / 3;
                    height: 3rem;
                    padding: 0 1.5rem;
                    border-radius: 0.5rem;
                    border-width: 2px;
                    border-style: solid;
                    border-color: var(--grey);
                }

                .textbox-error {
                    border-color: var(--red);
                    background-color: mistyrose;
                    
                    &::placeholder {
                        color: var(--red);
                    }
                }

                #email-error {
                    display: none;
                    color: var(--red);

                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    justify-self: end;
                }
            }

            #btn-submit {
                margin: 1rem 0;
                height: 3rem;
                border-radius: 0.5rem;
                border-style: none;
                background-color: var(--blue-800);
                color: var(--white);
                letter-spacing: 0.05rem;
                cursor: pointer;

                &:hover {
                    background-color: var(--blue-700);
                }
                
                &:active {
                    background: linear-gradient(90deg, var(--red), salmon);
                }
            }
        }
    }
}

#page-success {
    display: none;
    flex-direction: column;
    padding: 1.5rem;

    .content {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        .title {
            font-size: 3rem;
            margin: 2rem 0;
        }

        .description {
            line-height: 1.5rem;

            .email {

            }
        }
    }

    .button {
        margin: 1rem 0;
        height: 3rem;
        border-radius: 0.5rem;
        border-style: none;
        background-color: var(--blue-800);
        color: var(--white);
        letter-spacing: 0.05rem;
        cursor: pointer;

        &:hover {
            background-color: var(--blue-700);
        }

        &:active {
            background: linear-gradient(90deg, var(--red), salmon);
        }
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    html, body {
        background-color: var(--blue-700);
    }

    main {
        position: relative;

        .page {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            border-radius: 1rem;
        }

        #page-signup {
            display: flex;
            flex-direction: row;
            width: 50rem;
            align-items: center;

            picture {
                order: 1;
                padding: 1rem;
                height: 100%;
            }

            .content {
                order: 0;
            }
        }

        #page-success {
            width: 25rem;
            padding: 3rem;
        }
    }
}
